<ng-container *ngIf="!showForm">

  <app-hero (registerClick)="onVote(0)"></app-hero>

  <app-stats-bar
    [totalVotes]="statistics?.totalVotes ?? 0"
    [totalCompetitors]="locales.length">
  </app-stats-bar>

  <div class="cards-list">
    <div class="cards-grid">
      <app-competitor-card
        *ngFor="let local of locales; let i = index"
        [local]="local"
        [index]="i"
        [votes]="getVotesForOption(i)"
        (onVote)="onVote($event)">
      </app-competitor-card>
    </div>
  </div>

  <div class="bottom-cta">
    <p>AYUDA A TU GALLETERÍA FAVORITA A GANAR. DEJA TU VOTO</p>
  </div>

  <div class="vynder-section">
  <div class="vynder-content">
    <img src="../../../assets/img/VYlogo.png" alt="Vynder App" class="vynder-logo" />
    <div class="vynder-text">
      <p class="vynder-title">PRÓXIMAMENTE DESCARGA VYNDER</p>
      <p class="vynder-sub">UNA APP DONDE ENCONTRARÁS TODO SIN NECESIDAD DE ESCRIBIR</p>
      <p class="vynder-find">ENCUÉNTRALO EN</p>
      <div class="store-badges">
        <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store" class="store-badge" />
        <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" alt="Google Play" class="store-badge" />
      </div>
    </div>
    <img src="../../../assets/img/VynderLogo.png" alt="Vynder" class="vynder-logo-right" />
  </div>
</div>

<div class="sponsors-wrapper">
  <svg class="sponsors-wave" viewBox="0 0 1440 80" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0,0 C360,80 1080,80 1440,0 L1440,0 L0,0 Z" fill="#4ECDC4"/>
  <path d="M0,80 C360,0 1080,0 1440,80 L1440,80 L0,80 Z" fill="#EFAAC7"/>
</svg>

  <div class="sponsors-section">
    <h3 class="sponsors-title">PATROCINA</h3>
      <div class="sponsors-grid">
      <div class="sponsor-item">
        <img src="assets/img/logo_krima.png" alt="Krima" class="sponsor-logo" />
      </div>
      <div class="sponsor-item">
        <img src="assets/img/logo_printpack.png" alt="PrintPack" class="sponsor-logo" />
      </div>
      <div class="sponsor-item">
        <img src="assets/img/CrunchyLogo.png" alt="Crunchy Munch" class="sponsor-logo" />
      </div>
      <div class="sponsor-item">
        <img src="assets/img/logo_alemautos.png" alt="Alemautos" class="sponsor-logo" />
      </div>
      <div class="sponsor-item">
        <img src="assets/img/logo_postobon.png" alt="Postobón" class="sponsor-logo" />
      </div>
      <div class="sponsor-item">
        <img src="assets/img/logo_1826.png" alt="1826 Coffee" class="sponsor-logo" />
      </div>
    </div>
    <p class="sponsors-note">
      QUÉDATE PENDIENTE DE NUESTRAS REDES SOCIALES.<br />
      PRÓXIMAMENTE ANUNCIAREMOS NUESTRO NUEVO GANADOR 2026
    </p>
  </div>
</div>

<div class="page-footer">
  <p>TÉRMINOS LEGALES VYNDER</p>
</div>

</ng-container>

<app-vote-form
  *ngIf="showForm"
  [selectedOption]="selectedOption"
  [selectedName]="getSelectedName()"
  (cancelForm)="onCancelForm()">
</app-vote-form>