<!-- Marquesina superior -->
<div class="marquee-container">
    <div class="marquee-content">
        COOKIE FEST 2025 EDITION - COOKIE FEST 2025 EDITION - COOKIE FEST 2025 EDITION - COOKIE FEST 2025 EDITION - COOKIE FEST 2025 EDITION - COOKIE FEST 2025 EDITION
    </div>
</div>

<!-- Sección principal -->
<section>
    <!-- Elementos decorativos -->
    <div class="decoracion-extra"></div>
    <div class="decoracion-circulo"></div>
    <div class="decoracion-circulo-2"></div>
    <div class="decoracion-circulo-3"></div>
    <div class="decoracion-img1"></div>
    <div class="decoracion-img2"></div>
    
    <!-- Contenedor principal -->
    <div class="main-content">
        <div class="mantequilla-container">
            <img routerLink="/Votacion" class="mantequilla" src="../../../assets/img/Mantequilla color.png" alt="Mantequilla Cookie" />
        </div>
        <div class="content-container">
            <img class="welcome-image" src="../../../assets/img/WELCOME COOKIE FEST.png" alt="Welcome Cookie Fest" />
            <img routerLink="/Votacion" class="Cookie-fest" src="../../../assets/img/LOGO O3.png" alt="Welcome Cookie Fest" />
            <img  class="Hosted" src="../../../assets/img/hosted_by[1].png" alt="Welcome Cookie Fest" />
        </div>
    </div>
</section>

<!-- Marquesina inferior -->
<div class="marquee-container">
    <div class="marquee-content">
        COOKIE FEST 2026 EDITION - COOKIE FEST 2026 EDITION - COOKIE FEST 2026 EDITION - COOKIE FEST 2026 EDITION - COOKIE FEST 2026 EDITION - COOKIE FEST 2026 EDITION
    </div>
</div>